* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
background-image: linear-gradient(to right, #ff7e5f, #feb47b); /* Direction and color stops */
/* min-height: 100vh; Ensures the gradient covers the full viewport height */
/* margin: 0; Removes default body margin */

body {
  min-height: 100vh;
  background-image: linear-gradient(
    #d2fbfb,
    #abf5f6,
    #71ecef,
    #30d9e0,
    #14bec6,
    #1498a6,
    #177a87,
    #1c626e,
    #1b535e,
    #09282f
  );
  margin: 30px 50px;
  overflow: scroll;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 95px;
  /* border: 1px solid red; */
}
.navbar > ul {
  display: flex;
  align-items: center;
  padding: 10px;
  list-style-type: none;
}

li {
  margin: 15px;
}
li:hover {
  border-bottom: 2px solid black;
}
li > a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-button {
  height: 26px;
  width: 100px;
  background-color: #000000;
  color: #fff;
  border-radius: 20px;
  margin-left: 35px;
}

.first-section {
  max-height: 760px;

  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.first-text,
.first-img {
  width: 50%;
  height: 80%;
}

.first-img > img {
  max-width: 100%;
}

.first-text {
  padding: 120px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.first-text > h1 {
  font-size: 100px;
  font-weight: 400;
  text-shadow: 0.5px 3px #fedb65;
}

.first-text > p {
  font-size: 30px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.37);
}

.all-button {
  height: 50px;
  width: 200px;
  color: #fff;
  background-color: #000000;
  border: 1px;
  border-radius: 30px;
  font-size: 25px;
  padding: 10px 30px;
  font-weight: 500;
}
.all-button:hover {
  background-color: #00000000;
  color: #000000;
  border: 1px solid black;
  font-weight: 500;
}

.tach-lane-section {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  max-height: 236px;
  width: 80%;
  margin: auto;
  flex-direction: column;
  gap: 20px;
}

.t ach-lane-container {
  /* border: 1px solid black; */
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-content: center;
}
.tach-lane-container > h2 {
  font-size: 60px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 65%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tach-lane-images {
  /* border: 1px solid green; */
}

.tach-lane-images {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

  background-color: #00000069;
  border-radius: 35px;
  max-width: 1135px;
  padding: 10px;
  box-shadow: 12px 12px 2px 1px #00000038;
}
.box {
  /* border: 1px solid blue; */
  width: 100px;
  height: 90px;
  border-radius: 20px;
  background-color: #fff;
}
.box:hover {
  box-shadow: 10px 10px 47px 14px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 10px 10px 47px 14px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 47px 14px rgba(0, 0, 0, 0.59);
}

.box > img {
  width: 100%;
  padding: 10px;
  margin: auto;
}

.tech-overview-section {
  /* border: 1px solid red; */
  width: 790px;
  height: 300px;
  margin: 50px;
  font-size: 50px;
  font-family: "Aboreto", system-ui;
  font-weight: 300;
  padding: 20px;
  text-align: center;
}
.button_2 {
  height: 40px;
  width: 200px;
  color: #fff;
  background-color: #000000;
  font-size: 35px;
  border-radius: 20px;
  border: none;
  text-align: center;
  padding: 20pxs;
  width: 500;
  margin-top: 30px;
}
.button_2:hover {
  background-color: #00000000;
  color: #000000;
  border: 1px solid black;
  font-weight: 500;
}

.servise-section {
  /* border: 1px solid red; */
  height: auto;
  display: flex;
  /* justify-content: space-between; */
}

.service-img {
  /* border: 1px solid green; */
}
.service-features {
  /* border: 1px solid blue; */
  max-width: 100%;
}
.servise-card {
  /* border: 1px solid red; */
  display: flex;
  margin-bottom: 40px;
}

.servise-details {
  padding: 10px;
  margin-right: 40px;
}
.servise-details > h3 {
  font-size: 40px;
}
.number-para {
  font-size: 40px;
  width: 300;
}
.about-card {
  font-size: 20px;
}

.footer-section {
  border: 1px solid red;
  padding: 10px;
}

.contac-us {
  border: 1px solid blue;
  max-width: 85%;
  margin: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contac-us > p {
  font-size: 60px;
  text-align: center;
  width: 100;
  margin-bottom: 20px;
}

.contac-button {
  height: 50px;
  width: 200px;
  color: #fff;
  background-color: #000000;
  border: 1px;
  border-radius: 30px;
  font-size: 25px;
  padding: 10px 30px;
  font-weight: 500;
  margin: auto;
}
.contac-button:hover {
  background-color: #00000000;
  color: #000000;
  border: 1px solid black;
  font-weight: 500;
}
